---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading"><i class="fas fa-seedling"></i> {{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list big-margin">
      {%- assign date_format = site.minima.date_format | default: "%-d. %B %Y" -%}
      {%- for post in posts -%}
      <li>
        <h4 class="post-date">{{ post.date | date: date_format }}</h4>
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            {% for tag in post.tags %}
              {% if tag == "Javascript" %}
                <i class="fab fa-js"></i>
              {% endif %}
              {% if tag == "Python" %}
                <i class="fab fa-python"></i>
              {% endif %}
              {% if tag == "R" %}
                <i class="fab fa-r-project"></i>
              {% endif %}
            {% endfor %}
          </a>
        </h2>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        <div class="tags-container small-tags">
          {% for tag in post.tags %}
          <a href="#{{ tag | slugify }}" class="taglink">
            <i class="fas fa-tag"></i> &nbsp;{{ tag }}
          </a>
          {% endfor %}
        </div>
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
